<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @operatingsystem.name %>
</p>


<%= link_to 'Edit', edit_operatingsystem_path(@operatingsystem) %> |
<%= link_to 'Back', operatingsystems_path %>
